.body{
    display: flex;
    height: 500px;
    justify-content: space-between;
    flex-direction: column;
}
.header{
    background-color: aqua;
    font-size: 45px;
    text-align: center;
}
.nav{
    background-color: aqua;
    text-align: center;
    font-size: 45px;
}
.text{
    justify-content: space-between;
    align-content: space-between;
    display: flex;
}
.artice{
    background-color: greenyellow;
    font-size: 45px;
    width: 40%;
    text-align: center;

}
.section{
    background-color: aqua;
    font-size: 45px;
}